@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

h2{
    font-size: 2rem;
    color: black;
    margin-left: 1rem;    
}

.header{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(211, 209, 209);
}

.nav-item{
    list-style: none;
    display: inline-block;
    padding: 1rem;
}

.nav-item a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.nav-item a:hover{
    color: rgb(217, 128, 128);
    text-decoration:dotted;
    transition: all 0.2s ease-in-out;
    
}

main{
    /* display: flex; */
    background-color: rgb(191, 176, 248);
    height: 82vh;
    /* width: 50%; */
}

main .iptitle{
    width: 33%;
    height: 3rem;
    border-radius: 0.8rem;
    border: none;
    margin-left: 3rem;
    /* margin-top: 1rem; */
    padding-left: 1rem;
    font-size: 1.2rem;
    margin-top: 5rem;
    /* transition: all 0.4s ease-in-out; */
}

main .ipdesc {
    width: 33%;
    height: 9rem;
    border-radius: 0.8rem;
    border: none;
    margin-left: 3rem;
    margin-top: 1rem;
    padding: 1rem 1rem;
    font-size: 1.2rem;
}

form{
    display: flex;
    flex-direction: column;
}

#addtask{
    width: 10rem;
    height: 3rem;
    border-radius: 0.8rem;
    border: none;
    margin-left: 3rem;
    margin-top: 3rem;
    font-size: 1.2rem;
    background-color: rgb(217, 128, 128);
    color:white;
}

#addtask:hover{
    background-color: rgb(254, 254, 254);
    color: black;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

footer{
    background-color: rgb(220, 215, 215);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-container{
    position: absolute;
    margin: 4rem 0rem;
    translate: 760px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task{
    margin-bottom: 2rem;
}

.delete {
    background-color: rgb(217, 128, 128);
    color: white;
    border: none;
    border-radius: 0.8rem;
    width: 5rem;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.delete:hover{
    background: white;
    color: black;
    transition: all 0.2s ease-in-out;
}

#moveforward {
    position: absolute;
    translate: 1200px 200px;
    background-color: rgb(217, 128, 128);
    color: white;
    border: none;
    border-radius: 0.8rem;
    width: 3rem;
    padding: 1rem;
    cursor: pointer;
}

#moveforward:hover{
    background: white;
    color: black;
    transition: all 0.2s ease-in-out;
}

footer a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}